/* google font */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* google font - inter */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* google font - great vibes */
.great-vibes-font {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

/* header styles */

/* navbar styles */